/* .about {
  background: linear-gradient(270deg, rgb(241, 114, 182) 50%, orange) 40%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-skill {
  gap: 30px;
}
.skill {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.3s;
}
.skill p {
  min-width: 150px;
  font-size: 24px;
  font-family: 500;
}
.skill hr {
  quotes: none;
  border: none;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgb(209, 139, 151),
    rgb(214, 92, 214),
    rgb(38, 35, 31)
  );
}
.first {
  width: 90%;
}
.second {
  width: 75%;
}
.third {
  width: 60%;
}
.forth {
  width: 50%;
}
.download {
  justify-content: center;
  color: rgb(217, 133, 147);
  height: 35px;
  width: 110px;
  border-radius: 10px;
  border: solid rgb(233, 156, 177);
}

.box h1 {
  font-size: 25px;
}

.box i {
  font-size: 30px;
}
.box h1 {
  background: linear-gradient(270deg, rgb(241, 114, 182) 80%, orange) 20%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box hr {
  background-color: aliceblue;
}
.box:hover {
  transform: scale(1.05);
  transition: 0.4s;
} */

.uniq {
  font-family: "Rubik 80s Fade", system-ui;
}
.simple {
  font-family: "Nunito", sans-serif;
}
