.contact {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
  margin: 20px 170px;
  gap: 50px;
  justify-content: center;
}
.contact-section {
  display: flex;
  gap: 30px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  background: linear-gradient(270deg, rgb(241, 114, 182) 40%, orange) 60%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-start {
  background: linear-gradient(270deg, rgb(241, 114, 182) 80%, orange) 40%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-btn {
  background: linear-gradient(270deg, rgb(241, 114, 182) 60%, orange) 50%;
}
.message-btn:hover {
  border: 2px solid white;
  background-image: linear-gradient(rgb(190, 92, 123), rgb(98, 63, 69));
  transform: scale(1.05);
  transition: 0.4s;
}

i {
  font-size: 30px;
}

.contact-right input {
  height: 40px;
  width: 400px;
}
textarea {
  width: 400px;
}
@media (max-width: 768px) {
  .contact {
    width: 700px;
    margin: 20px 40px;
  }
}

@media (max-width: 640px) {
  .contact {
    width: 600px;
    justify-content: center;
    align-items: center;
  }
  .contact-right {
    display: flex;

    margin-right: 20px;
    width: 270px;
  }
  .contact-left {
    width: 250px;
  }
  .contact-right input {
    height: 40px;
    width: 260px;
  }
  textarea {
    width: 260px;
  }
}
