.hero {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  height: 100vh;
}
.hero img {
  height: 300px;
  width: 300px;
}
/* span {
  background: linear-gradient(270deg, rgb(241, 114, 182) 80%, orange) 20%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.hero-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(270deg, rgb(241, 114, 182) 60%, orange) 20%;
  cursor: pointer;
}
.hero-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 160px;
  background: linear-gradient(270deg, rgb(241, 114, 182) 60%, orange) 20%;
  transform: scale(1);
  padding: 5px 5px;
}
.hero-connect:hover {
  border: 1px solid white;
}
.hero-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 160px;
  /* padding: 15px 50px; */
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
}

.big {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-resume:hover {
  border-color: rgb(196, 91, 156);
}
.hero-content {
  justify-content: center;
  align-items: center;
}

/* Mobile screens */
@media (max-width: 640px) {
  .hero {
    margin-top: 30px;
    gap: 30px;
  }

  h1.big {
    font-size: 1.5rem;
  }

  .hero-mid {
    font-size: 1.25rem;
  }

  .hero-connect,
  .hero-resume {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

/* Tablets */
@media (min-width: 641px) and (max-width: 1024px) {
  .hero-content {
    text-align: center;
  }

  h1.big {
    font-size: 3.5rem;
  }

  .hero-mid {
    font-size: 1.5rem;
  }
}

/* Laptops and Desktops */
@media (min-width: 1025px) {
  .hero {
    gap: 30px;
    align-items: center;
    text-align: left;
  }

  .hero-content {
    max-width: 70%;
    text-align: left;
  }

  .hero-connect,
  .hero-resume {
    font-size: 1rem;
  }
}

/* @media (max-width: 768px) {
  .hero.img {
    width: 250px;
    margin-bottom: 30px;
  }
  .hero h1 {
    margin-top: 10px;
    font-size: 40px;
  }
  .hero-content {
    width: 90%;
    display: flex;
    gap: 10px;
  }
  .hero p {
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0px;
    gap: 2rem;
  }
  .hero {
    display: flex;
    text-align: center;
  }
}


@media (max-width: 375px) {
  .hero {
    overflow: hidden;
    width: 300px;
    margin: 10px 40px;
    height: 100%;
  }
  .hero-content {
    width: 300px;
  }
  .hero-connect {
    width: 130px;
  }
  .hero-resume {
    width: 130px;
  }
  .hero img {
    width: 17rem;
    height: 17rem;
  }
} */
