.btn-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: rgb(210, 100, 174);
  font-size: 15px;
  padding: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  margin-left: 150px;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.menu_close {
  display: none;
}
.menu_open {
  display: none;
}

.moreinfo {
  display: flex;
  color: black;
}
.info-top {
  background: linear-gradient(270deg, rgb(241, 114, 182) 60%, orange) 20%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
