@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Noto Serif", serif;
}
